.proyectos-grid__main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 2rem;
  
  margin: 1.5rem auto 7rem;
}



.imagen__principal1,
.imagen__principal2,
.imagen__principal3,
.imagen__principal4,
.imagen__principal5,
.imagen__principal6,
.imagen__principal7,
.imagen__principal8,
.imagen__principal9 {
  background-size: cover;
  width: 100%;
  height: 200px;
  font-size: 3rem;
}
.imagen__principal1{
  background-image: url(/assets/1333333.webp);
}
.imagen__principal2{
  background-image: url(/assets/14444444.jpg);
}
.imagen__principal3{
  background-image: url(/assets/15.jpg);
}
.imagen__principal4{
  background-image: url(/assets/16.jpg);
}
.imagen__principal5{
  background-image: url(/assets/17.webp);
}
.imagen__principal6{
  background-image: url(/assets/18.jpg);
}
.imagen__principal7{
  background-image: url(/assets/19.webp);
}
.imagen__principal8{
  background-image: url(/assets/20.png);
}
.imagen__principal9{
  background-image: url(/assets/21.jpg);
}
.imagen__fondo:hover {
  opacity: 1;
}
.imagen__fondo {
  text-decoration: none;
  opacity: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.349);
  width: 100%;
  height: 100%;
  z-index: 998;
}
.imagen__fondo p {
  color: #fff;
}
